


<%=stylesheet_link_tag "app"%>
<div id="map"></div>
<div id="country">

  <i class="icon-search"></i>
  <input class="countrySearch" type="text" value="<%=@map.value%>" placeholder="Enter a country/city" />
    <div class="searchResults"></div>
</div>
<div id="markers">
  <div id="marker" class="drag">
  </div>
  <div id="addDes">
    <span>Add a destination</span> </br>
    <i class="icon-plus-sign-alt"></i>
  </div>
</div>

<div id="list">
  <p>Enter A Location Below </p>
  <div class="list_content">
    <%if @markers.length > 0%>
    <%@markers.each do |marker|%> 
    <div class="destination" marker=<%=marker.markerId%>>
      <div class="label"><span><%=marker.markerId%></span></div>
      <input type="text" marker=<%=marker.markerId%> value="<%=marker.value%>" placeholder="City/Village/Town"  />
    </div>
    <%end %>
  <%else %>
    <div class="destination" marker=0>
      <div class="label"><span>0</span></div>
      <input type="text" marker=0 placeholder="City/Village/Town"  />
    </div>
  <%end%>
  </div>
  <div id="save">
    <span>Save Plot</span>
  </div>
</div>

<%=javascript_include_tag "map"%>
<script type="text/javascript">
  var mapId=document.location.pathname.split('/')[2]
  window.app=new MapApp({
    mapId:mapId,
    lat:"<%=@map.lat%>",
    lng:"<%=@map.lng%>",
    country:"<%=@map.country%>"
  })
</script>
